.fantasia-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 96vh;
    padding-top: 80px;
    color: black  !important;
    & p, li{
      color: black;
    }
    & .fantasia-wrapper{
      display: flex;
      flex-direction: column;
    }
    & .fantasia-title{
      font-size: 2rem;
    }
    & .fantasia-subtitle{
      font-family: var(--questrial-font) !important;
      text-transform: none !important;
      font-size: 1.5rem;
    }
    & .fantasia-description-title{
      font-family: var(--questrial-font) !important;
      text-transform: none !important;
      font-size: 1.5rem;
    }
    & .fantasia-article-subtitle{
      font-family: var(--questrial-font) !important;
      text-transform: none !important;
      font-size: 1.5rem;
    }
    & .fantasia-image{
      width: 200px;
    }
    
}

@media (max-width: 900px) {
  .fantasia-container{
    & .fantasia-title{
      font-size: 2rem;
    }
    & .fantasia-subtitle{
      font-size: 1.5rem;
    }
    & .fantasia-description-title{
      font-size: 1.5rem;
    }
    & .fantasia-article-subtitle{
      font-size: 1.5rem;
    }
  }
}
