.notion-container {
  background-color: transparent;
  color: #fff;
  /* Nest the second div child of this class */
  & > div:nth-child(2){
    padding: 20px 120px;
  }
}

.swiper{
  width: auto;
  height: 60%;
  padding: 120px;
  & .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    & img{
      width: 680px;
      height: auto;
      border-radius: 15px;
    }
  }
}
