.notion-container {
  background-color: #000;
  color: #fff;
  padding: 120px;
  & img{
    width: 300px;
    height: auto;
  }

  .notion-column_list{
    display: flex;
    overflow: scroll;
    margin: 0 -120px 0 -120px;
  }
}
