.notion-container {
  background-color: transparent;
  color: #fff;
  & .container{
    padding-bottom: 120px;
  }
}

.swiper{
  width: auto;
  height: 60%;
  padding: 120px;
  & .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    & img{
      width: 480px;
      height: auto;
      border-radius: 15px;
      /* Add media query to change img width */
      @media (max-width: 900px) {
        width: 320px;
      }
    }
  }
}
