.homeSlide{
  height: 96vh;
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  cursor: grab;
  & .home-slider-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 100%;
    width: 100%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0, 0, 0, 0.534) 0%, rgba(0,0,0,0) 100%);
  } 
  & .home-slider-text:hover{
  } 
  & h1{
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  & p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  & .logoSlider{
    width: 200px;
  }
  & .logoMandalas{
    width: 120px;
    animation: rotate 33s linear infinite;
  }
  & .logoMixtapes{
    
  }
  & .logoFantasias{
    
  }
  & .home-slider-button{
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
  }
  & .home-slider-button:hover{
    background-color: white;
    color: black;
  }
  & .home-slider-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}
@media (max-width: 900px) {
  .homeSlide{
    flex-direction: column-reverse;
    & h1{
      font-size: 1.4rem;
      color: white;
    }
    & p {
      font-size: 0.8rem;
      color: white;
    }
    & .home-slider-text{
      width: 100%;
    }
    & .home-slider-image{
      width: 100%;
      background-size: cover;
      background-position: center;
    }
    & .logoMandalas{
      width: 80px;
    }
    & .logoMixtapes{
      width: 130px;
    }
    & .logoFantasias{
      width: 130px;
    }
  }
}

