.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    width: 100%;
    flex-direction: column;
    & .loading-mandala{
      width: 80px;
      animation: rotate 32s linear infinite;
    }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
