

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color:#e9e9e9 !important;
  /* background-image:
  radial-gradient(at 0% 0%, hsla(0, 0%, 71%, 0.671) 0px, transparent 50%),
  radial-gradient(at 92% 86%, rgb(182, 182, 182) 0px, transparent 50%); */
}

body h1, h2, h3, h4, h5, h6{
  font-family: var(--microgramma-font);
  text-transform: uppercase;
}
body h1{
  font-size:  clamp(1.5rem, 2.5vw, 2.5rem) !important;
}
body h2{
  font-size:  clamp(1.3rem, 2.3vw, 2.3rem) !important;
}
body h3{
  font-size:  clamp(1.1rem, 2.1vw, 2.1rem) !important;
}
body h4{
  font-size:  clamp(0.9rem, 1.9vw, 1.9rem) !important;
}
body h5{
  font-size:  clamp(0.7rem, 1.7vw, 1.7rem) !important;
}
body h6{
  font-size:  clamp(0.5rem, 1.5vw, 1.5rem) !important;
}
body p, ul, li, a{
  font-family: var(--questrial-font) !important;
  color: white;
}

body button{
  font-family: var(--questrial-font) !important;
  color: white;
}

