.footer{
  height: 4vh;
  color: white;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  /* write a nested for span */
  & span{
    font-family: var(--questrial-font);
  }
}

@media (max-width: 900px){
  .footer{
    font-size: 8px;
  }
  i{
    font-size: 18px !important;
  }
}
