.navbar{
  background-color: transparent !important;
  height: 10vh;
  position: absolute;
  width: 100%;
  padding: 0 10%;
}

.navbar .img-fluid{
  width: 200px;
}

@media (max-width: 900px) {
  .navbar{
    padding: 0;
  }
}