.navbar{
  background-color: transparent !important;
  height: 8vh;
  width: 100%;
  padding: 0 10%;
  position: absolute;
  z-index: 2;
}

.navbar .img-fluid{
  width: 120px;
}

@media (max-width: 900px) {
  .navbar{
    padding: 0;
  }
}